.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.btn {
  display: block;
  padding: 10px 18px;
  color: #1E2123;
  background-color: #FFD54F;
  font: 600 14px/17px Inter;
  border-radius: 19px;
  cursor: pointer;
}

.btn:disabled {
  background-color: grey;
}