@import 'normalize.css';
@import 'select.css';
@import 'table.css';
@import 'form.css';
@import 'preloader.css';
@import 'pagination.css';
@import 'media.css';

.header__title {
  font-family: Inter;
  text-align: center;
  margin-bottom: 20px;
}

